page {
  background-color: #1c2024;
}
.moyi-bg-a {
  background-color: #1c2024;
}
.moyi-bg-b {
  background-color: #25272c;
}
.moyi-bg-c {
  background-color: #ffd250;
}
.moyi-te-a {
  color: #e0e0e0;
}
.moyi-te-b {
  color: #ffd250;
}
.moyi-te-c {
  color: #25272c;
}
.moyi-top-bar {
  position: relative;
  z-index: 1;
}
.moyi-abs-br-btn {
  z-index: 2;
  position: absolute;
  bottom: 130rpx;
  opacity: 0.8;
  right: 70rpx;
  width: 80rpx;
  height: 80rpx;
  line-height: 80rpx;
}
.moyi-fix-b {
  width: 100%;
  z-index: 2;
  position: fixed;
  bottom: 0;
}
.margin-tb-ss {
  margin-top: 10rpx;
  margin-bottom: 10rpx;
}
.scroll-view {
  position: absolute;
  top: 0;
  bottom: 80rpx;
}
.bottom-card {
  text-align: center;
  padding: 30rpx;
}
.bottom-card .cu-btn {
  height: 80rpx;
  border-radius: 10rpx;
  width: 100%;
}
